.body{
    background-color: #040BB7;
    font-family: 'Source Code Pro', monospace;
    
}
.div{
    float: center;
}
#Clock{
    background-color: #00B2EA;
    border-radius: 40px;
    border: solid 5px black;
    padding: 10px;
    width: 400px;
    align-items: center;
    text-align: center;
    display: block;
    align-items: center;
}
.title{
    text-align: center;
}